:root {
    --color-background: #1e1e1e;
    --color-primary: #f2c94c;
    --color-secondary: #f2994a;
    --color-accent: #eb5757;
    --color-text: #ffffff;
    --color-tint: #ffffff08;
    --ff: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--ff);
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.link-hidden {
    text-decoration: none;
    color: var(--color-text);
}

.section {
    padding-top: 2.5em;
    max-width: 1080px;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

.section-header {
    overflow: hidden;
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
    background-color: var(--color-primary);
    padding-left: 2em;
    padding-right: 2em;
    color: var(--color-background);
    max-width: fit-content;
}

.section-header:hover {
    background-color: var(--color-secondary);
    transition: 0.2s ease;
}
