:root {
  --color-background: #1e1e1e;
  --color-primary: #f2c94c;
  --color-secondary: #f2994a;
  --color-accent: #eb5757;
  --color-text: #ffffff;
  --color-tint: #ffffff08;
  --ff: 'Ubuntu', sans-serif;
  --h1: clamp(1.2rem, 5vw, 2rem);
  --h2: clamp(0.8rem, 5vw, 1.3rem);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--ff);
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

ul {
  padding-left: 1em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.link-hidden {
  text-decoration: none;
  color: var(--color-text);
}

.section {
  padding-top: 2.5em;
  max-width: 1080px;
  min-height: 100vh;
  /* scroll-snap-align: start; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
