:root {
    --color-background: #1e1e1e;
    --color-primary: #f2c94c;
    --color-secondary: #f2994a;
    --color-accent: #eb5757;
    --color-text: #ffffff;
    --color-tint: #ffffff08;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text)
}

.link-hidden {
    text-decoration: none;
    color: var(--color-text)
}
